/*!
 *  build: shark-admin 
 *  https://elwin0204.github.io/shark-admin 
 *  https://github.com/elwin0204/shark-admin 
 *  time: 2024-3-3 23:30:14
 */[data-v-c770ec66]:export{menu-color:#575d6c;menu-color-active:#96adfa;menu-background:#fff}.user-container[data-v-c770ec66] .btns-box{display:flex;justify-content:flex-end;align-items:flex-start}.user-container[data-v-c770ec66] .btns-box .el-form-item{margin-bottom:0}.user-container[data-v-c770ec66] .el-button--mini{padding:4px 8px}.user-container .avatar-url[data-v-c770ec66]{width:180px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}