/*!
 *  build: shark-admin 
 *  https://elwin0204.github.io/shark-admin 
 *  https://github.com/elwin0204/shark-admin 
 *  time: 2024-3-3 23:30:14
 */[data-v-6b3fb704]:export{menu-color:#575d6c;menu-color-active:#96adfa;menu-background:#fff}.custom-tree-node[data-v-6b3fb704] .el-checkbox{margin-right:15px}[data-v-7a758874]:export{menu-color:#575d6c;menu-color-active:#96adfa;menu-background:#fff}.role-container[data-v-7a758874] .btns-box{display:flex;justify-content:flex-end;align-items:center}.role-container[data-v-7a758874] .btns-box .el-form-item{margin-bottom:0}.role-container[data-v-7a758874] .el-button--mini{padding:4px 8px}